{% extends "base.html" %}

{% block title %}Ihre Spende{% endblock %}

{% block extra_head %}
  <meta name="robots" content="noindex"/>
{% endblock %}

{% block app_body %}
<h1>
  Vielen Dank für Ihre Spende!
</h1>

{% if last_donation and last_donation.payment.variant == 'banktransfer' %}
<div class="mt-5 mb-5">
  {% include "fds_donation/includes/banktransfer.html" with payment=last_donation.payment order=last_donation.payment.order %}
</div>
{% endif %}

<p class="text-right">
  <a href="{{ object.get_absolute_change_url }}" class="btn btn-secondary">
    Spenderdaten aktualisieren
  </a>
  <a href="{{ object.get_absolute_donate_url }}" class="btn btn-secondary">
    Neue Spende anlegen
  </a>
</p>

<p>
  Hier finden Sie eine Übersicht Ihrer Spenden.
</p>

{% if subscriptions %}
  {% for subscription in subscriptions %}
    <p>
      Dauerspende {{ subscription.plan }} (<a href="{{ subscription.get_absolute_url }}">Details</a>)
    </p>
  {% endfor %}
{% endif %}

<table class="table">
  <thead>
    <tr>
      <th>Datum</th>
      <th>Betrag</th>
      <th>Verwendungszweck</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    {% for donation in donations %}
    <tr>
      <td>{{ donation.timestamp|date:"DATE_FORMAT" }}</td>
      <td>{{ donation.amount }}&nbsp;Euro</td>
      <td>{{ donation.purpose }}</td>
      <td>
        {% if donation.payment %}
          {{ donation.payment.get_status_display }}
          <a href="{{ donation.order.get_absolute_url }}">Details</a>
        {% else %}
          {% if donation.received %}
            Bestätigt
          {% endif %}
        {% endif %}
      </td>
    </li>
  {% endfor %}
  </tbody>
</table>

{% if donor.user %}
  <hr class="mt-5"/>
  {% include "account/includes/set_password_now.html" %}
{% endif %}

{% endblock %}
