{% load form_helper %}
<div class="mt-3 mb-3">
{% if not has_newsletter %}
  <h4>{{ newsletter.title }}</h4>
  <p>{{ newsletter.description }}</p>
  <form method="post" action="{% url 'newsletter_subscribe_request' newsletter_slug=newsletter.slug %}">
    {% csrf_token %}
    {% if next %}
      <input type="hidden" name="next" value="{{ next }}"/>
    {% endif %}
    {% render_field form.phone %}
    {% if form.test %}
      {% render_field form.test %}
    {% endif %}
    <label for="newsletter_id_email_field-{{ newsletter.id }}_{{ instance.pk }}" class="sr-only">E-Mail</label>
    <div class="input-group w-100">
      <input placeholder="E-Mail" class="form-control" type="email" {% if request.user.is_authenticated %}value="{{ request.user.email }}"{% endif %} name="email" required id="newsletter_id_email_field-{{ newsletter.id }}_{{ instance.pk }}">
      <div class="input-group-append">
        <button class="btn btn-primary" name="submit" value="Subscribe" type="submit">
          <span class="fa fa-envelope d-none d-md-inline d-lg-none"></span>
          <span class="d-md-none d-lg-inline">Abonnieren</span>
        </button>
      </div>
    </div>
  </form>
  {% elif has_newsletter and fallback %}
    <h4>Unterstützen Sie FragDenStaat!</h4>
    <a class="btn btn-block btn-danger text-white" href="/spenden/?pk_campaign=newsletter-subscribed&amp;pk_keyword={{ request.path | urlencode }}">
      Jetzt spenden
    </a>
  {% endif %}
</div>
