{% extends "foirequest/body/message/message.html" %}

{% load i18n %}
{% load foirequest_tags %}
{% load fax_tags %}
{% load fds_tags %}
{% load campaign_tags %}

{# add bump to sticky message toolbar when showing questionaire hint! #}
{% block message_extra_classes %}{{ block.super }}{% if object|can_write_foirequest:request and object.status_is_final and object|foirequest_has_questionaire and object|foirequest_campaign_report_count == 0 %} alpha-message__toolbar--stickybump{% endif %}{% endblock message_extra_classes %}


{% block message_toolbar_item %}
  {% if object|can_write_foirequest:request %}
    {% if message|can_fax_message:request %}
      {% include "froide_fax/_send_message_form.html" %}
    {% endif %}
    {% if message|can_get_fax_report %}
      {% include "froide_fax/_show_report_link.html" %}
    {% endif %}
  {% endif %}

  {% if message|needs_glyphosat_attachment %}
    <button class="btn btn-primary btn-sm mb-1 mx-sm-1" data-toggle="modal" data-target="#glyphosat-download">
      Gutachten herunterladen und speichern
    </button>

    <div data-teleport="body" class="modal fade modal-lg" id="glyphosat-download" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Glyphosat-Gutachten</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="glyphosat-download-form" action="{% url 'fragdenstaat-glyphosat_download' slug=object.slug message_id=message.id %}" method="post" class="horizontal-form disable-submit">
              {% csrf_token %}
              <p>
                Wir laden für Sie mit Ihren persönlichen Zugangsdaten das Dokument herunter,
                bereiten es auf und stellen es nur Ihnen persönlich dauerhaft auf FragDenStaat.de zur Verfügung.
              </p>
              <div class="form-group form-check">
                <input type="checkbox" id="confirm-notes" name="confirm-notes" value="1" class="form-check-input" required>
                <label for="confirm-notes" class="form-check-label">
                  Ich habe <a href="https://dokumente.bfr.bund.de/glypo/" rel="noopener" target="_blank">die Hinweise des BfR</a>, die <a href="https://fragdenstaat.de/blog/2019/05/06/glyphosat-gutachten-antwort-allgemeinverfugung/" rel="noopener" target="_blank">Allgemeinverfügung des BfR</a> sowie die <a href="https://dokumente.bfr.bund.de/glypo/p/privacy" rel="noopener" target="_blank">Datenschutzhinweise</a> zur Kenntnis genommen.
                </label>
              </div>
              <p class="text-right">
                <button class="btn btn-primary" type="submit" id="glyphosat-download-button">
                  &rarr; Jetzt Gutachten herunterladen und speichern
                </button>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>

  {% endif %}
{% endblock %}
