{% load thumbnail %}

<article class="w-100 mx-auto">
  <div>
    {% if article.image %}
      <a href="{{ article.get_absolute_url }}">
        {% with picture=article.image %}
        <picture>
          {% thumbnail picture 640x370 crop subject_location=picture.subject_location as thumb %}
          <source
            media="(min-width: 992px)"
            srcset="{{ thumb.url }}"
          />
          <source
            srcset="{{ thumb.url }}.avif"
            type="image/avif"
          />
          {% thumbnail picture 480x277 crop subject_location=picture.subject_location as thumb %}
          <source
            media="(min-width: 768px)"
            srcset="{{ thumb.url }}"
          />
          <source
            media="(min-width: 768px)"
            srcset="{{ thumb.url }}.avif"
            type="image/avif"
          />
          {% thumbnail picture 320x185 crop subject_location=picture.subject_location as thumb %}
          <source
            srcset="{{ thumb.url }}.avif"
            type="image/avif"
          />
          <img class="w-100 h-auto z-index-10" loading="lazy" width="320" height="185" src="{{ thumb.url }}"
              {% if not attributes.alt %} alt="{{ picture.default_alt_text|default:"" }}"{% endif %}
              {{ attributes_str }}>
        </picture>
        {% endwith %}
      </a>
    {% endif %}
  </div>
  <div class="bg-white border-gray shadow-gray z-index-20 position-relative mx-3 mt-n5 mt-lg-n6 p-3">
    {% with tags=article.all_tags %}
      {% if tags %}
        <ul class="list-unstyled d-flex text-blue-600 font-weight-semibold font-size-sm mb-1">
        {% for tag in tags %}
          <li class="mr-2">
            <a href="/blog/tag/{{ tag.slug }}">
              #{{ tag.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
    <h3 class="h4 mt-0 mb-1">
      <a class="text-black" href="{{ article.get_absolute_url }}">
        {{ article.title }}
      </a>
    </h3>
    <div class="text-gray-500 font-weight-bold font-size-sm">
      {{ article.start_publication|date:"DATE_FORMAT" }}
    </div>
  </div>
</article>
