{% load markup %}

<figure class="blog-header__figure">

  {% include "fds_blog/includes/_picture.html" with picture=picture %}
  
  {% if picture.author %}
  <figcaption class="no-gutters text-right">
    <div class="picture-description">
      {{ picture.description }}
      {% if picture.description %} – {% endif %}
    </div>
    <div class="picture-credits">
      {{ picture.author|markdown }}
    </div>
  </figcaption>
{% endif %}
</figure>
