{% load cms_tags %}

<div class="reveal-cutoff" data-cutoff="{{ instance.cutoff }}{{ instance.unit }}" style="--reveal-color: var(--{{ instance.color }})">
  <div class="reveal-inner {{ instance.attributes.class }}" id="reveal-{{ instance.pk }}" {{ instance.attributes_str }}>
    {% for plugin in instance.child_plugin_instances %}
      {% render_plugin plugin %}
    {% endfor %}
  </div>

  <div class="reveal-show">
    <a href="#!" class="action-link" role="button" aria-controls="reveal-{{ instance.pk }}" aria-expanded="false">{{ instance.text }}</a>
  </div>
</div>