{% load i18n cms_tags %}
{% load markup %}
{% load static %}

{% block article_header %}
<div class="blog-header-container">
  <div class="row justify-content-center">
    <div class="post-item post-detail col-12">
      <header class="blog-header">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-10">

            <h1 class="blog-header__title">
              <span class="d-block font-weight-normal blog-header__meta">
                {{ article.kicker }}
              </span>
              <span>{% render_model article "title" %}</span>
            </h1>

            {% if article.teaser %}
              <div class="blog-lead">
                {% render_model article "teaser" "" "" "safe" %}
              </div>
            {% endif %}

            <div class="mt-3 mb-5 blog-header__meta">
              <time datetime="{{ article.start_publication|date:'c' }}">
                {{ article.start_publication|date:"DATE_FORMAT" }}
              </time>
              {% if article.get_authors %}
              <span> - {{ article.get_authors_string }}</span>
              {% endif %}
            </div>

            {% block article_header_image %}
              {% if article.image %}
                {% include "fds_blog/includes/blog_picture_detail.html" with picture=article.image %}
              {% endif %}
            {% endblock article_header_image %}

          </div>
        </div>
      </header>
    </div>
  </div>
</div>
{% endblock article_header %}

{% block article_updates %}
{% if updated_articles %}
  <div class="blog-content">
    <p>
      {% blocktranslate count counter=updated_articles|length %}
        Updated article:
      {% plural %}
        Updated articles:
      {% endblocktranslate %}
      {% for related_article in updated_articles %}
        {{ related_article.publication_date|date:"SHORT_DATE_FORMAT" }} – <a href="{{ related_article.get_absolute_url }}">{{ related_article.title }}</a>{% if not forloop.last %},{% endif %}
      {% endfor %}
    </p>
  </div>
{% endif %}
{% endblock %}

{% block article_content %}
  {% render_placeholder article.content_placeholder %}
{% endblock article_content %}

{% block article_previous %}
{% if previous_articles %}
  <div class="blog-content">
    <p>
      {% blocktranslate count counter=previous_articles|length %}
        Previous article:
      {% plural %}
        Previous articles:
      {% endblocktranslate %}
      {% for related_article in previous_articles %}
      {{ related_article.publication_date|date:"SHORT_DATE_FORMAT" }} – <a href="{{ related_article.get_absolute_url }}">{{ related_article.title }}</a>{% if not forloop.last %},{% endif %}
      {% endfor %}
    </p>
  </div>
{% endif %}
{% endblock %}

{% block article_ads %}
{% static_placeholder "banner_ad" %}
{% endblock article_ads %}

{% block article_languages %}
<div class="container">
  <div class="row justify-content-center pt-5">
    <div class="col-md-8">
      {% with other_langs=article.other_languages %}
        {% if other_langs %}
          <p>
            {% trans "This article is available in other languages." %}
          </p>
          <ul class="list-unstyled">
            {% for lang_article in other_langs %}
              <li>
                {{ lang_article.language|language_name }}:
                <a href="{{ lang_article.get_absolute_url }}">
                  {{ lang_article.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
  </div>
</div>
{% endblock article_languages %}

{% block article_authors %}
<div class="container">
  <div class="author-section">
    {% for author in article.get_authors %}
      <div class="row justify-content-center align-items-center pb-5 pt-5">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 d-block">
          {% if author.user.profile_photo %}
            <img class="img-circle" src="{{ author.user.profile_photo.url }}" alt="Bild des Autors" loading="lazy">
          {% endif %}
        </div>
        <div class="col-12 col-sm-8 col-md-6 col-lg-5">
          <h4 class="author-title">
            <a href="{% url 'blog:article-author' username=author.username %}">
              {{ author.get_full_name }}
            </a>
          </h4>
          <div class="author-description">
            {{ author.user.profile_text | markdown }}
          </div>
          {% if account.user.get_absolute_url %}
            <a href="{{ account.user.get_absolute_url }}">
              Anfragen des Autors
            </a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock article_authors %}
