{% extends "fds_blog/base.html" %}
{% load i18n cms_tags %}
{% load markup %}
{% load static %}
{% load blog_tags %}

{% block canonical_url %}<link rel="canonical" href="{{ meta.url }}"/>{% endblock canonical_url %}
{% block title %}{{ article.meta_title }}{% endblock %}

{% block meta %}
  {% include "snippets/meta.html" with description=article.teaser|striptags keywords=article.tag_list %}
  {% include "fds_blog/includes/social_meta.html" with article=article %}
  {% with other_langs=article.other_languages %}
    {% for lang_article in other_langs %}
      <link rel="alternate" hreflang="{{ lang_article.language }}" href="{{ lang_article.get_full_url }}"/>
    {% endfor %}
  {% endwith %}
{% endblock %}

{% block content_blog %}{% spaceless %}
<article id="post-{{ article.slug }}">
  
  {% include article.content_template %}

</article>
{% endspaceless %}

{% static_placeholder "blog_donation_banner" %}

{% with next_read=article|get_next_read %}
{% if next_read %}
  <div class="col-md-12 next-reads">
    <div class="container">
      <div class="row justify-content-center pb-5 pt-5">
        <div class="col-md-5">
          {% if next_read.image_id %}
             <a href="{{ next_read.get_absolute_url }}">{% include "fds_blog/includes/blog_picture.html" with picture=next_read.image %}</a>
          {% endif %}
        </div>
        <div class="col-md-5 next-reads__text">
          <h3 class="pt-3">
            <a href="{{ next_read.get_absolute_url }}">{{ next_read.title }}</a>
          </h3>
          <p>
            {% render_model next_read "teaser" "" "" "safe" %}
          </p>
          <p>
            <div class="cl-effect-10">
              <a href="{{ next_read.get_absolute_url }}" data-hover="&rarr;">
                zum Artikel
              </a>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endwith %}
{% endblock content_blog %}
