{% extends "email/default/base.html" %}

{% block social_media %}
Vernetzen Sie sich mit uns!<br>
<a href="https://twitter.com/fragdenstaat/">Twitter</a> | <a href="https://www.facebook.com/fragdenstaat.de">Facebook</a> | <a href="https://instagram.com/fragdenstaat">Instagram</a> | <a href="https://chaos.social/@fragdenstaat">Mastodon</a>
<br>
{% endblock %}
