<div>
  <div class="d-flex flex-nowrap justify-content-between align-items-center">
    <div>{{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ page_obj.paginator.count }}</div>
    <div>
      <nav aria-label="Page navigation">
        <ul class="pagination">
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link bg-transparent" href="?page={{ page_obj.previous_page_number }}&{{ query_url }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {% endif %}

          {% if page_obj.has_next or page_obj.has_previous %}
          <li class="page-item">
            <div class="page-link bg-transparent">
              {{ page_obj.number }}
            </div>
          </li>
          {% endif %}

          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link bg-transparent" href="?page={{ page_obj.next_page_number }}&{{ query_url }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
  </div>