{% load i18n %}
{% load form_helper %}

<form action="{{ form.action }}" method="POST" class="donation-form {% if object.extra_classes %}{{ object.extra_classes }}{% else %}bg-white text-body px-3 pt-3 pb-1{% endif %}">
  {% csrf_token %}
  {{ form.form_settings }}
  {{ form.reference }}
  {{ form.keyword }}
  <fieldset>
    <legend class="bg-primary text-white px-2 py-0 font-weight-bold">
      {% if form.settings.title %}
        {{ form.settings.title }}
      {% else %}
        {% trans "Your donation frees information" %}
      {% endif %}
    </legend>
    <div class="row">
      <div class="col-12">
        {% include "helper/forms/bootstrap_field_stacked.html" with field=form.amount %}
      </div>
    </div>
    {% if form.interval.is_hidden %}
      {{ form.interval }}
    {% else %}
      <div class="row">
        <div class="col-12">
          {% include "helper/forms/bootstrap_field_stacked.html" with field=form.interval %}
        </div>
      </div>
    {% endif %}
    {% if form.purpose.is_hidden %}
      {{ form.purpose }}
    {% else %}
    <div class="row">
      <div class="col-12">
        {% include "helper/forms/bootstrap_field_stacked.html" with field=form.purpose %}
      </div>
    </div>
    {% endif %}

    {% if form.settings.collapsed %}
      <button type="button" class="btn btn-primary btn-lg mb-3" data-toggle="collapse" data-target="#donation-form-detail" aria-expanded="false" aria-controls="donation-form-detail">
        <span class="hideparent">
          {% trans "Continue" %}
        </span>
      </button>
    {% endif %}

  </fieldset>

  {% if form.settings.collapsed %}
  <div class="collapse" id="donation-form-detail">
  {% endif%}

  <fieldset>
    <legend class="bg-primary text-white px-2 py-0 font-weight-bold">
      {% trans "Your details" %}
    </legend>
    <div class="row">
      <div class="col-12 col-md-3">
        {% include "helper/forms/bootstrap_field_stacked.html" with field=form.salutation %}
      </div>
      <div class="col-12 col-md-9">
        <div class="row">
          <div class="col-sm-6">
            {% include "helper/forms/bootstrap_field_stacked.html" with field=form.first_name %}
          </div>
          <div class="col-sm-6">
            {% include "helper/forms/bootstrap_field_stacked.html" with field=form.last_name %}
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        {% include "helper/forms/bootstrap_field_stacked.html" with field=form.email %}
        <small class="mt-5">
          <a href="#company-field" data-toggle="collapse">
            {% trans "&rarr; Do you want to donate as a company?" %}
          </a>
        </small>
      </div>
    </div>
    <div class="row mt-3 collapse" id="company-field">
      <div class="col-12">
        {% include "helper/forms/bootstrap_field_stacked.html" with field=form.company_name %}
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        {% include "helper/forms/bootstrap_field_stacked.html" with field=form.receipt %}
      </div>
    </div>
    <div class="collapse" id="address-fields">
      <div class="row">
        <div class="col-12">
          {% include "helper/forms/bootstrap_field_stacked.html" with field=form.address %}
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          {% include "helper/forms/bootstrap_field_stacked.html" with field=form.postcode %}
        </div>
        <div class="col-8">
          {% include "helper/forms/bootstrap_field_stacked.html" with field=form.city %}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          {% include "helper/forms/bootstrap_field_stacked.html" with field=form.country %}
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend class="bg-primary text-white px-2 py-0 font-weight-bold">
      {% trans "Payment method" %}
    </legend>
    <div class="row">
      <div class="col-12">
        <div class="d-none onion-show alert alert-danger">
          {% trans "Donations via credit card, SOFORT-Überweisung or Paypal do not work via our .onion-site" %}
        </div>
        <div class="form-group">
          {{ form.payment_method }}
        </div>

        <p class="text-muted">
          <i class="fa fa-lock"></i>
          {% trans "Your payment details will be transmitted securely in the next step." %}</p>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend class="bg-primary text-white px-2 py-0 font-weight-bold">
      {% trans "Stay up to date" %}
    </legend>
    <div class="row">
      <div class="col-md-6 mt-2">
        <div class="card border-primary">
          <div class="card-header"><h4>{{ form.contact.label }}</h4></div>
          <div class="card-body">
            <p>
              {% trans "Receive our newsletter about freedom of information in German." %}
            </p>
            {{ form.contact }}
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-2">
        <div class="card">
          {% if request.user.is_authenticated %}
            <div class="card-header">
              <h4>{% trans "FragDenStaat Account" %}</h4>
            </div>
            <div class="card-body">
              {% trans "You can manage your donation in your FragDenStaat account." %}
            </div>
          {% else %}
            <div class="card-header">
              <h4>{% trans "Get an account" %}</h4>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label>{{ form.account.label }}</label>
                {{ form.account }}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </fieldset>

  <div class="row mt-3">
    <div class="col-12 col-md-6 text-right ml-auto">
      {% if form.test %}
        {% render_field form.test %}
      {% endif %}
      <button id="donate-now" type="submit" class="btn btn-lg btn-block btn-primary btn-threed mb-3">
        {% trans "Donate now" %}
      </button>
    </div>
  </div>

  {% if form.settings.collapsed %}
    </div>
  {% endif %}

</form>
