{% extends "base.html" %}
{% load form_helper i18n %}

{% block body %}
<div class="bg-gray-100">
  <div class="container">
    <div class="row justify-content-left">
      <div class="col-md-8">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'account-show' %}">{% trans "My requests" %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'foirequest-shortlink' foi_request.id %}">{{ foi_request.title|truncatechars:50 }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Klageautomat</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="bg-gray-100 bg-gray-100-header">
  <div class="container pb-5">
    <div class="row justify-content-left">
      <div class="col-md-8">
        <h2>{{ law_case.title }}</h2>
        <div>zu: <a href="{% url 'foirequest-shortlink' foi_request.id %}" target="_blank">{{ foi_request.title }}</a>,</br>an: {{ foi_request.public_body }}</div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-8">
        <form method="post" class="clearfix mt-3 border-gray shadow-sm p-3">
          {{ form.media }}
          {% csrf_token %}
          {{ form }}
          <div class="row mt-2">
            <div class="col">
              <div class="dropdown mt-2">
                <button id="downloadActions" type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Klageentwurf herunterladen
                </button>
                <div class="dropdown-menu alpha-dropdown-menu" aria-labelledby="downloadActions">
                  <a class="dropdown-item" href="{% url 'klageautomat-word-download-answer' foi_request.id %}">
                    Word-Dokument
                  </a>
                  <a class="dropdown-item" href="{% url 'klageautomat-pdf-download-answer' foi_request.id %}">
                    PDF-Dokument
                  </a>
                  <a class="dropdown-item" href="{% url 'klageautomat-html-download-answer' foi_request.id %}">
                    HTML-Dokument
                  </a>
                </div>
              </div>
            </div>
            <div class="col">
              <input class="btn btn-primary btn-sm float-right mt-2" type="submit" value="Änderungen speichern" />
            </div>
          </div>
        </form>
      </div>

      <div class="col-md-4 mt-3">
        {% include 'legal_advice_builder/includes/info_box.html' %}
      </div>

    </div>
  </div>
</div>

{% endblock %}