{% extends "base.html" %}
{% load form_helper cms_tags i18n %}

{% block body %}
<div class="bg-gray-100">
  <div class="container">
    <div class="row justify-content-left">
      <div class="col-md-8">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'account-show' %}">{% trans "My requests" %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'foirequest-shortlink' foi_request.id %}">{{ foi_request.title|truncatechars:50 }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Klageautomat</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="bg-gray-100 py-2">
  <div class="container mb-5">
    <div class="row justify-content-left">
      <div class="col-md-8">

        {% static_placeholder "klageautomat_info" %}

        <div>
          <form method="post">
            {% csrf_token %}
            <div class="bg-white border-gray shadow-gray p-3">
            {% render_form form horizontal=False %}
            </div>
            <p class="text-center">
              <button type="submit" class="btn btn-primary my-5">
                Jetzt Untätigkeitsklage erstellen!
              </button>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}