/* cms cards */

.box-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;

  &.box-card-has-icon {
    margin-top: 1.5rem;

    @include media-breakpoint-up(md) {
      margin-top: 2.25rem;
    }
  }

  /* important required to override icon margin, if both image and icon present */
  &.box-card-has-image-sm {
    margin-top: 2.5rem !important;
  }

  &.box-card-has-image-lg {
    margin-top: 6rem !important;
  }

  &.box-card-has-image-lg-wide {
    margin-top: 2.5rem !important;
  }
}

a > .box-card {
  box-shadow: 0 0 0 var(--shadow-color, var(--shadow-gray));
  transform: translate(0, 0);
  transition: box-shadow 0.15s ease-in-out, transform 0.15s ease-in-out;

  &:hover {
    box-shadow: 4px 4px 0 var(--shadow-color, var(--shadow-gray));
    transform: translate(-2px, -2px);
  }
}

.box-card-header {
  position: relative;

  &.has-background::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: luminosity;
    opacity: 0.15;
    z-index: 1;
  }

  > * {
    z-index: 2;
  }
}

.box-card-image {
  &.overlap-center,
  &.overlap-left,
  &.overlap-right {
    width: 75%;
    margin-left: auto;
    margin-right: auto;

    img {
      shape-outside: margin-box;

      &.img-lg {
        margin: 1rem;
        margin-top: -6rem;
      }

      &.img-sm {
        margin: 0.5rem;
        margin-top: -2.5rem;
      }

      &.img-lg-wide {
        max-width: 100%;
        width: auto;
        max-height: 5rem;
        height: auto;
        margin-top: -2.5rem;
      }
    }
  }

  &.overlap-center {
    img {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }

  @include media-breakpoint-up(md) {
    &.overlap-right {
      margin-right: 3rem;

      img {
        float: right;
      }
    }

    &.overlap-left {
      margin: 0;

      img {
        margin-left: -6rem;
      }
    }
  }
}

.box-card-icon {
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $blue-700;

  left: -1rem;
  top: -1rem;
  width: 3rem;
  height: 3rem;

  &.overlap-right {
    left: unset;
    right: -1rem;
  }

  .fa {
    font-size: 2rem;
  }

  @include media-breakpoint-up(md) {
    left: -2.25rem;
    top: -2.25rem;
    width: 4.5rem;
    height: 4.5rem;

    &.overlap-right {
      left: unset;
      right: -2.25rem;
    }

    .fa {
      font-size: 2.5rem;
    }
  }
}

.box-card-links {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0 !important;
  margin-top: auto;
}
