@use 'sass:math';
/* utilities/small components used in the cms */

/*  
  Shadows
*/

[class*=' shadow'],
[class^='shadow'] {
  --shadow-color: var(--shadow-blue);
  box-shadow: 7px 7px 0 var(--shadow-color);
}

@include media-breakpoint-up(md) {
  [class*=' md\:shadow'],
  [class^='md\:shadow'] {
    --shadow-color: var(--shadow-blue);
    box-shadow: 7px 7px 0 var(--shadow-color);
  }
}

.shadow-gray,
.md\:shadow-gray {
  --shadow-color: var(--shadow-gray);
}
.shadow-yellow,
.md\:shadow-yellow {
  --shadow-color: var(--shadow-yellow);
}

@mixin border($color) {
  border: 2px solid $color;
}

.border-blue {
  @include border($blue-20);
}
.border-gray {
  @include border($gray-300);
}
.border-yellow {
  @include border($yellow-200);
}

/*
  Backdrop with 50% height
*/

[class*=' backdrop'],
[class^='backdrop'] {
  position: relative;

  &::before {
    background: var(--backdrop-color);
    content: '';
    display: block;
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    top: 0;
  }

  &.backdrop-75::before {
    bottom: 25%;
  }
}

$backdrops: (
  "blue": "blue-10",
  "blue-600": "blue-600",
  "gray": "gray-200",
  "gray-100": "gray-100",
  "yellow": "yellow-100",
  "yellow-200": "yellow-200"
);

@each $name, $value in $backdrops {
  .backdrop-#{$name} {
    --backdrop-color: var(--#{$value});
  }
}

/*
  Font utilities
*/

.font-size-sm {
  font-size: $font-size-sm;
}
.font-size-lg {
  font-size: $font-size-lg;
}
.font-weight-semibold {
  font-weight: 600;
}

.action-link {
  font-weight: 600;

  &:hover {
    text-decoration: none;
  }
}

/*
  spacing utilities 
*/

@each $value in (10, 20) {
  .z-index-#{$value} {
    z-index: $value !important;
  }
}

.tight-margin {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.min-vh-md-100 {
  @include media-breakpoint-up(md) {
    min-height: 100vh;
  }
}

/* images */
.hero-illustration,
.img-lg,
.img-sm {
  width: 12rem;
  max-width: 100%;
  height: auto;
  max-height: 12rem;
  object-fit: contain;

  @include media-breakpoint-up(lg) {
    width: 16rem;
    max-height: 16rem;
  }
}

.img-sm {
  width: 5rem;
  max-height: 5rem;
}

.img-sm-vertical {
  height: 5rem;
  max-width: 100%;
}

@include media-breakpoint-down(sm) {
  .hero-illustration-vertical {
    width: auto;
    max-width: 100%;
    height: 12rem;
  }
}

.partner-logos img,
.partner-logo {
  display: block;
  width: 12rem;
  max-width: 100%;
  height: 6rem;
  margin: 1rem auto;
  object-fit: contain;
}

.reveal-cutoff {
  .reveal-inner {
    position: relative;
    transition: max-height 0.5s ease-out;
    overflow-y: hidden;
    /* workaround to keep overflowing elements on x-axis visible */
    margin: 0 -4rem;
    padding: 0 4rem;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 12rem;
      max-height: 50%;
      content: '';
      background: linear-gradient(
        to bottom,
        transparent,
        var(--reveal-color) 95%
      );
      z-index: 1;
      transition: opacity 0.5s ease-out;
      pointer-events: none;
    }
  }

  > .reveal-show {
    display: flex;
    justify-content: center;
    z-index: 2;
    transition: opacity 0.5s ease-out;
  }

  &.transitioning {
    .reveal-inner {
      max-height: 125vh !important;
    }

    > .reveal-show,
    .reveal-inner::after {
      opacity: 0;
    }
  }

  &.revealed {
    .reveal-inner {
      overflow-y: unset;
      max-height: none !important;
    }

    .reveal-show,
    .reveal-inner::after {
      display: none;
    }
  }
}

@include media-breakpoint-up(md) {
  .text-columns-md-2 {
    column-count: 2;
    column-gap: 2rem;
  }
}

.bordered-section {
  margin-top: 0.65em;
  border-width: 4px;
  
  .bordered-section-headline {
    margin-top: -0.65em;
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
  }
}