<a href="{{ instance.link }}" class="action-link mr-3 {{ instance.attributes.class }}" {{ instance.attributes_str }}>
  {% if instance.icon %}<i class="fa fa-{{ instance.icon }}"></i>
  {% elif instance.arrow %}→ {% endif %}
  {{ instance.title }}
</a>