<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ subject }}</title>
  <style type="text/css" media="screen">

    /* Force Hotmail to display emails at full width */
    .ExternalClass {
      display: block !important;
      width: 100%;
    }

    /* Force Hotmail to display normal line spacing */
    .ExternalClass,
    .ExternalClass p,
    .ExternalClass span,
    .ExternalClass font,
    .ExternalClass td,
    .ExternalClass div {
      line-height: 100%;
    }

    body,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      padding: 0;
    }

    body,
    p,
    td {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      color: #333333;
      line-height: 1.5em;
    }

    h1 {
      font-size: 24px;
      font-weight: normal;
      line-height: 24px;
    }

    body,
    p {
      /* margin-bottom: 0; */
      -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
    }

    img {
      outline: none;
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
    }

    a img {
      border: none;
    }

    .background {
      background-color: #d0d0d0;
    }

    table.background {
      margin: 0;
      padding: 0;
      width: 100% !important;
    }

    .block-img {
      display: block;
      line-height: 0;
    }

    a {
      color: white;
      text-decoration: none;
    }

    a,
    a:link {
      color: #2A5DB0;
      text-decoration: underline;
    }

    a.button, a.button:link, a.button:visited {
      color: white;
      text-decoration: none;
    }

    table td {
      border-collapse: collapse;
    }

    td {
      vertical-align: top;
      text-align: left;
    }

    .wrap {
      width: 600px;
    }

    .wrap-cell {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .header-cell,
    .body-cell,
    .footer-cell {
      padding-left: 20px;
      padding-right: 20px;
    }

    .header-cell {
      background-color: #eeeeee;
      font-size: 24px;
      color: #333;
      padding-top:10px;
    }

    .body-cell {
      background-color: #ffffff;
      padding-top: 30px;
      padding-bottom: 34px;
    }

    .footer-cell {
      background-color: #eeeeee;
      text-align: center;
      font-size: 13px;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .card {
      width: 400px;
      margin: 0 auto;
    }

    .data-heading {
      text-align: right;
      padding: 10px;
      background-color: #ffffff;
      font-weight: bold;
    }

    .data-value {
      text-align: left;
      padding: 10px;
      background-color: #ffffff;
    }

    .force-full-width {
      width: 100% !important;
    }

    @media only screen and (max-width: 480px){
      .emailImage{
          height:auto !important;
          max-width:600px !important;
          width: 100% !important;
      }
    }

  </style>
  <style type="text/css" media="only screen and (max-width: 600px)">
    @media only screen and (max-width: 600px) {
      body[class*="background"],
      table[class*="background"],
      td[class*="background"] {
        background: #eeeeee !important;
      }

      table[class="card"] {
        width: auto !important;
      }

      td[class="data-heading"],
      td[class="data-value"] {
        display: block !important;
      }

      td[class="data-heading"] {
        text-align: left !important;
        padding: 10px 10px 0;
      }

      table[class="wrap"] {
        width: 100% !important;
      }

      td[class="wrap-cell"] {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }
  </style>
</head>

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" bgcolor="" class="background">
  <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" class="background">
    <tr>
      <td align="center" valign="top" width="100%" class="background">
        <center>
          <table cellpadding="0" cellspacing="0" width="600" class="wrap">
            <tr>
              <td valign="top" class="wrap-cell" style="padding-top:30px; padding-bottom:30px;">
                <table cellpadding="0" cellspacing="0" class="force-full-width">
                  {% block content %}
                  <tr>
                    {% block header_image %}
                    <td height="60" valign="top" class="header-cell" style="padding-top:10px">
                      <img width="281" height="60" src="https://media.frag-den-staat.de/files/media/main/38/60/38604ee7-4d0c-4f4a-8347-ec30a0e03e39/frag_den_staat_logo_wide.png" alt="FragDenStaat.de">
                    </td>
                    {% endblock %}
                  </tr>
                  <tr>
                    <td valign="top" class="body-cell">

                      {% block body %}{% endblock %}

                    </td>
                  </tr>
                  {% endblock content %}
                  <tr>
                    <td valign="top" class="footer-cell">
                      {% block footer %}
                        {% block social_media %}
                        Unsere Social-Media-Kanäle:<br>
                        <a href="https://twitter.com/fragdenstaat">Twitter</a> | <a href="https://www.facebook.com/fragdenstaat.de">Facebook</a> | <a href="https://instagram.com/fragdenstaat">Instagram</a> | <a href="https://chaos.social/@fragdenstaat">Mastodon</a>
                        <br>
                        {% endblock %}
                      Impressum:
                      <br>
                      FragDenStaat ist ein Projekt der Open Knowledge Foundation Deutschland e.V.
                      <br>
                      Singerstr. 109 | 10179 Berlin
                      <br>
                      <a href="mailto:info@fragdenstaat.de">info@fragdenstaat.de</a> | <a href="{{ site_url }}">fragdenstaat.de</a>
                      <br>
                      {% if unsubscribe_url %}<br><a href="{{ unsubscribe_url }}">E-Mail abbestellen</a><br>{% endif %}
                      <br>
                      <a href="https://fragdenstaat.de/datenschutzerklaerung/">Datenschutzerklärung</a>
                      <br>
                      {% endblock %}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>

</body>
</html>
